.Contact{
	background: #111;
}
.formBx{
	min-width: 60%;
}
.formBx form{
	display: flex;
	flex-direction: column;
}
.formBx form h3,.contactInfo h3{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea{
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: none;
	background: #222;
	color: #fff;
}
.formBx form textarea{
	min-height: 200px;
}
.formBx form input:placeholder,
.formBx form textarea:placeholder{
	color: #999;
}
.formBx form input[type="submit"]{
	max-width: 100px;
	background: #2196f3;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.contactInfo{
	min-width: 40%;
}
.contactInfoBx{
	position: relative;
}
.contactInfoBx .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.contactInfoBx .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.contactInfoBx .box .text h3{
	font-weight: 500;
	color: #2196f3;
	margin-bottom: 0;
}