.Documents .content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Documents .content .DocumentsBx{
      width: 50%;
      padding:20px;
}
.Documents .content .DocumentsBx img{
      max-width: 100%;
}