.Research{
	background: #111;
}
.heading.white{
	color: #fff;
}
.Research .content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.Research .content .ResearchBx{
	padding: 40px 20px;
	background: #222;
	color: #fff;
	max-width: 340px;
	margin: 20px;
	text-align: center;
	transition: 0.5s;
}
.Research .content .ResearchBx:hover{
	background: #2196f3;
}
.Research .content .ResearchBx img{
	max-width: 150px;
}
.Research .content .ResearchBx h2{
	font-size: 20px;
	font-weight: 600;
}