@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
  scroll-behavior: smooth;
}
.banner{
  position: relative;
  min-height: 100vh;
  background: url('./images/banner.jpeg');
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2{
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span{
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3{
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}
.btn{
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: 0.5s;
}
header.sticky{
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo{
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo{
  color: #111;
}
header ul{
  position: relative;
  display: flex;
}
header ul li{
  position: relative;
  list-style: none;
}
header ul li a{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
header.sticky ul li a{
  color: #111;
}
/* Responsive */
@media (max-width: 991px){
  header,
  header.sticky
  {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu{
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  .menu.active{
    left: 0;
  }
  header ul li a{
    color: #111;
    font-size: 24px;
    margin: 10px;
  }
  .toggle{
    width: 40px;
    height: 40px;
    background: url("./images/menu.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
  }
  .toggle.active{
    background: url("./images/close.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  header.sticky .toggle{
    filter: invert(1);
  }
  section{
    padding: 100px 50px;
  }
  .banner{
    padding: 150px 50px 100px;
  }
  .banner h2{
    font-size: 1.5em;
  }
  .banner h3{
    font-size: 1em;
  }
  .btn{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2{
    font-size: 24px;
  }
  .contentBx h3{
    font-size: 20px;
  }
  .content{
    flex-direction: column;
  }
  .w50{
    margin-bottom: 20px;
  }
  .Research .content .ResearchBx{
    margin: 10px;
  }
  .Documents .content .DocumentsBx{
    width: 100%;
    padding: 10px;
  }
  .WorkExp .content .WorkExpBx{
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
    background: #2196f3;
  }
  .WorkExp .content .WorkExpBx h3{
    margin-top: 20px;
  }
  .contactInfo{
    margin: 20px 0;
  }
}

@media (max-width: 600px){
  header,
  header.sticky
  {
    padding: 20px 20px;
  }
  .banner{
    padding: 150px 20px 100px;
  }
  section{
    padding: 100px 20px;
  }
}